<section class="content-box">
  <app-sidebar id="sidebar"></app-sidebar>
  <app-header id="header"></app-header>
  <div class="branch-container">
    <div class="box-form-create">
      <input type="text" name="" value="" class="form-control" placeholder="Nombre identificador de sucursal">
      <select class="form-control" name="">
        <option value="">Empresa Asociada</option>
        <option value="">Campero</option>
        <option value="">Google</option>
        <option value="">Facebook</option>
      </select>
      <select class="form-control" name="">
        <option value="">Contacto Asociado</option>
        <option value="">Juan Perez</option>
        <option value="">Noemi Estrada</option>
        <option value="">Karla Asturias</option>
      </select>

      <input type="text" name="" value="" class="form-control" placeholder="Teléfono (Asociado a contacto)">
      <input type="text" name="" value="" class="form-control" placeholder="Extención">
      <input type="text" name="" value="" class="form-control" placeholder="Correo Electrónico (Asociado a contacto)">
      <input type="text" name="" value="" class="form-control" placeholder="Dirección Sucursal">

    <div class="text-center">
      <button class="btn-daiso"> Crear Sucursal</button>
    </div>
  </div>
</div>
</section>
