<aside class="menu">
  <div class="logo">
    <img src="../assets/images/logo_daiso.png" alt="">
  </div>
  <div class="navigation">
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active"> <img src="../assets/images/dashboard.svg" alt=""> Dashboard</a></li>
      <!--li><a href="#"><img src="../assets/images/programming.svg" alt=""> Programación</a></li>
      <li><a href="#">Calendario</a> </li>
      <li><a href="#">Programar</a> </li>
      <li><a href="#">Visita en frío</a> </li-->
      <li><a routerLink="/contacts" routerLinkActive="active"><img src="../assets/images/contact.svg" alt="">  Contactos</a></li>
      <li><a routerLink="/business" routerLinkActive="active"><img src="../assets/images/companies.svg" alt=""> Empresas</a></li>
      <li><a routerLink="/create-branch" routerLinkActive="active"><img src="../assets/images/companies.svg" alt=""> Sucursales</a></li>
      <li><a routerLink="/users" routerLinkActive="active"><img src="../assets/images/contact.svg" alt=""> Vendedores</a></li>
      <!--li><a href="#"><img src="../assets/images/reports.svg" alt=""> Reportes</a></li-->
    </ul>
  </div>

</aside>
