<section class="content-box">
  <app-sidebar id="sidebar"></app-sidebar>
  <app-header id="header"></app-header>
  <div class="business-detail">
    <div class="row">
      <div class="col-md-12">
        <div class="box-company">
          <div class="name-company">
            <h3>EMP00001</h3>
          </div>
          <div class="detail-company">
            <div class="row">
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="firstcol">Razón Comercial</td>
                        <td>Limpieza Industrial</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Razón Social</td>
                        <td>Daisochem</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Dirección Central</td>
                        <td>Zona 9</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Teléfono Central</td>
                        <td>1234 4321</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Creada:</td>
                        <td>14 de noviembre 2018</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Última edición:</td>
                        <td>3 de marzo 2018</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="firstcol">ID Empresa:</td>
                      <td>EMP0001</td>
                    </tr>
                    <tr>
                      <td class="firstcol">NIT:</td>
                      <td>Daisochem</td>
                    </tr>
                    <tr>
                      <td class="firstcol">Sucursales:</td>
                      <td>2</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-company">
          <div class="name-company">
            <h3>Sucursal 1</h3>
          </div>
          <div class="detail-company">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="firstcol">Nombre:</td>
                        <td>Daisochem El Salvador</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Empresa Asociada:</td>
                        <td>Grupo Daiso</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Contacto:</td>
                        <td>Juan Perez</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Teléfono:</td>
                        <td>(502) 2231-2345</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Email:</td>
                        <td>wilfredo@daisochem.com</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Dirección de sucursal:</td>
                        <td>San Salvador</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-company">
          <div class="name-company">
            <h3>Sucursal 2</h3>
          </div>
          <div class="detail-company">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="firstcol">Nombre:</td>
                        <td>Daisochem El Salvador</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Empresa Asociada:</td>
                        <td>Grupo Daiso</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Contacto:</td>
                        <td>Juan Perez</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Teléfono:</td>
                        <td>(502) 2231-2345</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Email:</td>
                        <td>wilfredo@daisochem.com</td>
                      </tr>
                      <tr>
                        <td class="firstcol">Dirección de sucursal:</td>
                        <td>San Salvador</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
</section>
