<section class="content-box">
   <app-sidebar id="sidebar"></app-sidebar>
   <app-header id="header"></app-header>
   <div class="visit-target-several container-padding">
      <div class="title-obj text-center">
         <h2>OBJETIVOS DE VISITA: <strong>VARIOS</strong></h2>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="row">
               <div class="buttons-wrap">
                  <a href="#" class="btn-daiso one">Posponer Objetivo</a>
                  <a href="#" class="btn-daiso two">Eliminar objetivo</a>
               </div>
            </div>
            <div class="box-company">
               <div class="name-company">
                  <h3>Ejecución de objetivo</h3>
               </div>
               <div class="detail-company">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="table-responsive">
                           <table class="table">
                              <tbody>
                                 <tr>
                                    <td>Vendedor:</td>
                                    <td class="boldcol">Jorge Toledo</td>
                                 </tr>
                                 <tr>
                                    <td>Línea:</td>
                                    <td class="boldcol">Safefood</td>
                                 </tr>
                                 <tr>
                                    <td>Entidad comercial:</td>
                                    <td class="boldcol">DaisoChem S.A.</td>
                                 </tr>
                                 <tr>
                                    <td>Contacto</td>
                                    <td class="boldcol">Luis de León</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <table class="table">
                           <tbody>
                              <tr>
                                 <td>ID Vendedor:</td>
                                 <td class="boldcol">D001</td>
                              </tr>
                              <tr>
                                 <td>Sucursal:</td>
                                 <td class="boldcol">No aplica</td>
                              </tr>
                              <tr>
                                 <td>Tipo de visita:</td>
                                 <td class="boldcol">Trámite OC</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="box-company">
               <div class="box-company-int">
                  <div class="row">
                     <div class="col-md-4 col">
                        <p>Marcar Hora inicial:</p>
                     </div>
                     <div class="col-md-4 col">
                        <p class="boldcol">14 de noviembre de 2018 14:00</p>
                     </div>
                     <div class="col-md-4 col">
                        <label class="check">
                           <input type="checkbox"/>
                           <div class="box"></div>
                        </label>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4 col">
                        <p>Marcar Hora Final:</p>
                     </div>
                     <div class="col-md-4 col">
                        <p class="boldcol">14 de noviembre de 2018 15:00</p>
                     </div>
                     <div class="col-md-4 col">
                        <label class="check">
                           <input type="checkbox"/>
                           <div class="box"></div>
                        </label>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4 col">
                        <p>Tiempo transcurrido:</p>
                     </div>
                     <div class="col-md-4 col">
                        <p class="boldcol">1 Hora 00 minutos</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="box-company box-company-last">
               <div class="box-company-int">
                  <h3>A continuación reporte lo solicitado:</h3>
                  <div class="box-company-last-int">
                     <div class="row">
                        <div class="col-md-6 col">
                           <h3>Objetivos programados</h3>
                        </div>
                        <div class="col-md-6 col">
                           <h3>Objetivos ejecutados:</h3>
                        </div>
                     </div>
                     <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel id="toggle-1" title="Demostración">
                           <ng-template ngbPanelContent>
                              <textarea placeholder="Observaciones del objetivo ejecutado:" name="name" rows="8" cols="80"></textarea>
                           </ng-template>
                        </ngb-panel>
                        <ngb-panel id="toggle-2" title="Facturación">
                           <ng-template ngbPanelContent>
                             <textarea placeholder="Observaciones del objetivo ejecutado:" name="name" rows="8" cols="80"></textarea>
                           </ng-template>
                        </ngb-panel>
                        <ngb-panel id="toggle-3" title="Orden de compra">
                           <ng-template ngbPanelContent>
                             <textarea placeholder="Observaciones del objetivo ejecutado:" name="name" rows="8" cols="80"></textarea>
                           </ng-template>
                        </ngb-panel>
                        <ngb-panel id="toggle-4" title="Entrega de producto">
                           <ng-template ngbPanelContent>
                             <textarea placeholder="Observaciones del objetivo ejecutado:" name="name" rows="8" cols="80"></textarea>
                           </ng-template>
                        </ngb-panel>
                     </ngb-accordion>
                     <div class="row">
                       <div class="box-company-last-bottom">
                         <div class="col-md-6 col-bottom">
                           <a a routerLink="/completed-report">Crear un nuevo contacto</a>
                         </div>
                         <div class="col-md-6 col-bottom">
                           <a a routerLink="/completed-report">Programar la préxima visita.</a>
                         </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <button _ngcontent-c1="" class="btn-daiso" name="button" type="button">Generar reporte</button>
   </div>
</section>
