<section class="content-box">
  <app-sidebar id="sidebar"></app-sidebar>
  <app-header id="header"></app-header>
  <div class="dashboard-container">
    <div class="row">
      <!--div class="col-md-6">
        <div class="user-date">
          <h2>¡Hola!</h2>
          <p>Hoy es Viernes 13 de Marzo de 2020</p>
        </div>
        <div class="tab-chart-two">

        </div>
      </di-->
      <!--div class="col-md-6">
        <div class="tab-chart-three">

        </div>
      </div-->
      <div class="col-md-12">
        <div class="next-events">
          <div class="header-next">
            <h3>Próximos Eventos</h3>
          </div>
          <div class="events-c">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Cliente</th>
                  <th>Objetivos</th>
                  <th>Inicia</th>
                  <th>Termina</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Daisochem</td>
                  <td><b> Demostración </b></td>
                  <td>14:00</td>
                  <td>15:00</td>
                  <td><a href="#">Ir a evento</a></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Campero</td>
                  <td><b> Entrevista en oficina </b></td>
                  <td>16:00</td>
                  <td>17:00</td>
                  <td><a href="#">Ir a evento</a></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Campero</td>
                  <td><b> Trámite de OC </b></td>
                  <td>18:00</td>
                  <td>20:00</td>
                  <td><a href="#">Ir a evento</a></td>
                </tr>

                <tr>
                  <td>4</td>
                  <td>Daisochem</td>
                  <td><b> Demostración </b></td>
                  <td>14:00</td>
                  <td>15:00</td>
                  <td><a href="#">Ir a evento</a></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Campero</td>
                  <td><b> Entrevista en oficina </b></td>
                  <td>16:00</td>
                  <td>17:00</td>
                  <td><a href="#">Ir a evento</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>
</section>
