<section class="content-box">
   <app-sidebar id="sidebar"></app-sidebar>
   <app-header id="header"></app-header>
   <div class="execution-container container-padding">
      <div class="title-obj text-center">
         <h2><strong>VISITA EN FRÍO (NO PROGRAMADA)</strong></h2>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="box-company">
               <div class="name-company">
                  <h3>Ejecución de visita</h3>
               </div>
               <div class="detail-company">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="table-responsive">
                           <table class="table">
                              <tbody>
                                 <tr>
                                    <td>Vendedor:</td>
                                    <td class="boldcol">Jorge Toledo</td>
                                 </tr>
                                 <tr>
                                    <td>Línea:</td>
                                    <td class="boldcol">Safefood</td>
                                 </tr>
                                 <tr>
                                    <td>Entidad comercial:</td>
                                    <td class="boldcol">
                                        <input class="form-control" placeholder="Nombre de la empresa" type="text" name="" value="">
                                        <a class="btn-daiso" routerLink="">Ingresar</a>
                                    </td>
                                 </tr>

                              </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <table class="table">
                           <tbody>
                              <tr>
                                 <td>ID Vendedor:</td>
                                 <td class="boldcol">D001</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="box-company">
               <div class="box-company-int">
                  <div class="row">
                     <div class="col-md-4 col">
                        <p>Marcar Hora inicial:</p>
                     </div>
                     <div class="col-md-4 col">
                        <p class="boldcol">14 de noviembre de 2018 14:00</p>
                     </div>
                     <div class="col-md-4 col">
                        <label class="check">
                           <input type="checkbox"/>
                           <div class="box"></div>
                        </label>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4 col">
                        <p>Marcar Hora Final:</p>
                     </div>
                     <div class="col-md-4 col">
                        <p class="boldcol">14 de noviembre de 2018 15:00</p>
                     </div>
                     <div class="col-md-4 col">
                        <label class="check">
                           <input type="checkbox"/>
                           <div class="box"></div>
                        </label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
